@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background: #fff;
  font-size: 14px;
  font-family: "微软雅黑";
}

::selection{
  background:rgba(0,0,0,.25);
  color: #000;
}

.clear:after{
  content:"";
  display:block;
  height:0;
  visibility:hidden;
  clear:both;
}

.clear{
  zoom:1;
}

div,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block
}

a,a:hover,a:link,a:visited{
  color: #000;
  text-decoration: none;
}

ul,ol{
  list-style: none;
}

.container{
  width: 1100px;
  margin: 0 auto;
}

.fixed {
    position: fixed
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}