/*index.html*/


/*header*/

.header {
  height: 70px;
  padding: 10px 0;
}


/*nav*/

.nav {
  background-color: #014284;
  height: 41px;
}

.nav .nav-menu {}

.nav .nav-box {
  float: left;
  padding: 9px 30px;
  font-size: 1.2em;
}

.nav .nav-box:hover {
  background-color: #ef5d2c;
}

.nav a {
  color: #fff;
}

.nav .active {
  background-color: #ef5d2c;
}


/*banner*/

.banner {
  height: 360px;
}

.banner .banner-img {
  background-size: cover;
  height: 100%;
  width: 100%;
}


/*notice*/

.notice {
  margin: 20px 0;
}

.notice .notice-show {
  width: 230px;
  border: 1px solid #fad4bf;
}

.notice-show .title-s {
  height: 30px;
  background-color: #ffe9eb;
  color: #f0743b;
  padding: 0 10px;
}

.notice-show .title-s h1 {
  font-weight: initial;
  float: left;
}

.notice-show .star-five {
  background: url(../img/star.png) repeat-x;
  float: left;
  width: 97px;
  height: 18px;
  padding: 2px;
  margin: 5px 10px;
}

.notice-show .content {
  padding: 10px 5px;
}

.notice-show p {
  text-indent: 2em;
  color: #005099;
  line-height: 28px;
}

.notice-about {
  padding-left: 250px;
}

.notice-about .content-t {
  height: 160px;
  overflow: hidden;
}

.notice-about .content .img-c {
  float: left;
  width: 260px;
  height: 160px;
  padding-right: 10px;
}

.notice-about .content p {
  text-indent: 2em;
  color: #000;
  line-height: 28px;
}

.notice-about .content-b {
  padding: 10px 0;
}

.notice-about .content-b .cb-box {
  float: left;
  margin: 10px;
}

.notice-about .content-b .cb-box-i {
  width: 150px;
  height: 100px;
}


/*title*/

.title {
  padding: 0 0 35px;
  margin: 15px 0;
  border-bottom: 2px solid #e5e5e5;
}

.title .title-a {
  color: #00509b;
}

.title .title-m{
  color: #ff6636;
  margin-top: 8px;
}

.title a{
  font-size: 1.1em;
}

.title .title-a-m{
  background-color: #ff6636;
  display: inline-block;
  color: #fff;
  padding: 0px 4px 2px 6px;
  border-radius: 50%;
}


/*lh && zg*/

.lh {}

table.lhb {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  border: 1px solid #D5DCE3;
}

table.lhb th {
  text-align: center;
  vertical-align: top;
  font-weight: normal;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-color: #D5DCE3;
  border-bottom-color: #D5DCE3;
  background-color: #ECF9FF;
  color: #002945;
  padding-top: 5px;
  padding-bottom: 5px;
}

table.lhb td {
  text-align: center;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-color: #D5DCE3;
  border-bottom-color: #D5DCE3;
  color: #002945;
  padding-top: 5px;
  padding-bottom: 5px;
}

section .remark{
  padding: 10px 0;
}

section .remark p{
  line-height: 26px;
  color: #376ead;
}

table.zgb {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  border: 1px solid #D5DCE3;
}

table.zgb th {
  text-align: center;
  vertical-align: top;
  font-weight: normal;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-color: #D5DCE3;
  border-bottom-color: #D5DCE3;
  background-color: #ECF9FF;
  color: #002945;
  padding-top: 5px;
  padding-bottom: 5px;
}

table.zgb td {
  text-align: center;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-color: #D5DCE3;
  border-bottom-color: #D5DCE3;
  color: #002945;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*shipview*/

.shipview{

}

.shipview .sv-box{
  float: left;
  padding: 10px;
  position: relative;
}

.shipview .sv-box img{
  width: 160px;
  height: 100px;
  display: block;
  position: relative;
  z-index: 1;
}

.shipview .sv-box p{
  padding-top: 10px;
  text-align: center;
}

/*news*/

.news{}

.news .news-cen{
  width: 800px;
  margin-right: 50px;
}

.news .news-cen .news-menu{
  margin-bottom: 20px;
}

.news .news-cen .news-box{
  padding: 17px 0;
  line-height: 0px;
  border-bottom: 1px solid #efefef;
}

.news .news-tel{
  width: 250px;
}

.news .news-tel .content{
  margin: 10px 0 20px;
}

.news .news-tel img{
  width: 250px;
  height: 140px;
}

.news .news-tel p{
  padding-top: 10px;
}

/*bot-nav*/

.bot-nav{
  height: 140px;
  background-color: #ededed;
}

.bot-nav .bot-menu{
  padding: 20px 0;
}

.bot-nav .bot-box{
  float: left;
  width: 200px;
}

.bot-nav .bot-box h2{
  color: #014284;
  font-weight: normal;
}

.bot-nav .bot-box a{
  display: block;
  margin: 0 0 0 60px;
  color: #757575;
}

.bot-nav .bot-box a:hover{
  color: #FF2424;
}

.bot-nav .bot-box .icon-b1{
  background: url(../img/icon-1.png) no-repeat 0 0;
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
}
.bot-nav .bot-box .icon-b2{
  background: url(../img/icon-1.png) no-repeat -50px 0;
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
}
.bot-nav .bot-box .icon-b3{
  background: url(../img/icon-1.png) no-repeat -100px 0;
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
}
.bot-nav .bot-box .icon-b4{
  background: url(../img/icon-1.png) no-repeat -148px 0;
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
}
.bot-nav .bot-box .icon-b5{
  background: url(../img/icon-1.png) no-repeat -200px 0;
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
}

.icon_zhishu{background:url(../images/icons-top.png) no-repeat 0 -510px;margin: 14px 1px;width: 27px;height: 27px;display: inline-block;}
.icon_qixian{background:url(../images/icons-top.png) no-repeat 0 -480px;margin: 14px 1px;width: 30px;height: 30px;display: inline-block;}
.icon_qianbao{background:url(../images/icons-top.png) no-repeat 0 -450px;width: 30px;height: 30px;display: inline-block;}
.icon_time{background:url(../images/icons-top.png) no-repeat 0 -120px;width: 30px;height: 30px;display: inline-block;}


/*friend*/

.friend{
  background-color: #003e75;
  height: 70px;
}

.friend .friend-menu{
  display: table;
  margin: 0 auto;
}

.friend .friend-box{
  float: left;
  padding: 13px 10px;
}

.friend .friend-box img{
  width: 120px;
  height: 45px;
}

/*footer*/

.footer{
  height: 70px;
  color: #fff;
  background-color: #333333;
  padding: 25px 0;
}

.footer p{
  text-align: center;
  line-height: 28px;
}

/*news-list.html*/

/*================ news-list.html ================*/

.news-list{
  margin: 20px 0;
}
.news-list .notice-show {
  width: 230px;
  border: 1px solid #fad4bf;
}

.news-list .notice-show .title-s {
  height: 30px;
  background-color: #ffe9eb;
  color: #f0743b;
  padding: 0 10px;
}

.news-list .notice-show .title-s h1 {
  font-weight: initial;
  float: left;
}

.news-list .notice-show .star-five {
  background: url(../img/star.png) repeat-x;
  float: left;
  width: 97px;
  height: 18px;
  padding: 2px;
  margin: 5px 10px;
}

.news-list .news-content{
  margin-left: 280px;
}

.news-list .news-content .news-box{
  padding: 10px 10px;
  border-bottom: 1px dashed #ccc;
}

.news-list .news-content .news-box a:hover{
  color: #f03e3c;
}

.news-list .pagination{
  padding: 20px 30px 30px;
}

.news-list .pagination li{
  float: left;
  margin: 0 5px;
}

.news-list .pagination li a{
  color: #a1acb4;
  background-color: #EAEAEA;
  padding:3px 9px;
  border-radius: 3px;
}

.news-list .pagination li a:hover{
  background-color: #f03e3c;
  color: #fff;
}

/*pic-list.html*/

.pic-list .notice-show {
  width: 230px;
  border: 1px solid #fad4bf;
}

.pic-list .notice-show .title-s {
  height: 30px;
  background-color: #ffe9eb;
  color: #f0743b;
  padding: 0 10px;
}

.pic-list .notice-show .title-s h1 {
  font-weight: initial;
  float: left;
}

.pic-list .notice-show .star-five {
  background: url(../img/star.png) repeat-x;
  float: left;
  width: 97px;
  height: 18px;
  padding: 2px;
  margin: 5px 10px;
}

.pic-list .show{
  padding-left: 250px;
}

.pic-list .show .show-menu{
  display: table-cell;
  background-color: #fff;
}

.pic-list .show-box{
  float: left;
  margin: 10px 5px;
}

.pic-list  .show-box .show-box-img{
  padding: 5px;
}

.pic-list .show-box .show-box-img img{
  width: 190px;
  height: 120px;
}

.pic-list .show-box p{
  text-align: center;
}

.pic-list .pagination{
  padding: 15px 30px 30px;
}

.pic-list .pagination li{
  float: left;
  margin: 0 5px;
}

.pic-list .pagination li a{
  color: #a1acb4;
  background-color: #EAEAEA;
  padding:3px 9px;
  border-radius: 3px;
}

.pic-list .pagination li a:hover{
  background-color: #f03e3c;
  color: #fff;
}

/*view.html*/


.view .notice-show {
  width: 230px;
  border: 1px solid #fad4bf;
}

.view .notice-show .title-s {
  height: 30px;
  background-color: #ffe9eb;
  color: #f0743b;
  padding: 0 10px;
}

.view .notice-show .title-s h1 {
  font-weight: initial;
  float: left;
}

.view .notice-show .star-five {
  background: url(../img/star.png) repeat-x;
  float: left;
  width: 97px;
  height: 18px;
  padding: 2px;
  margin: 5px 10px;
}

.view .view-content{
  margin: 20px 0;
  padding-left: 280px;
}

.view .view-content .title{
  height: 40px;
}

.view .view-content .title-top{
  padding-top: 10px;
}

.view .view-content .title-top span{
  font-size: 14px;
}

.view .view-content .title-index{
  float: left;
}

.view .view-content h1{
  text-align: center;
  margin: 10px auto;
}

.view .view-content p{
  text-indent: 2em;
  line-height: 25px;
}